[core]
    editor = vim

[user]
    name = Thanasis Katsadas
    email = thanasis00@gmail.com

[merge]
    ff = false
    commit = false

[color]
    ui = true

[sendemail]
    smtpencryption = tls
    smtpserver = mail.google.com
    smtpuser = XXX
    smtpserverport = 587

[rerere]
    enabled = true

[push]
    default = matching
